#filter-bar{
  padding: 20px;
  font-size: 20px;
}

.filter-bar{
  padding: 20px;
  font-size: 20px;
}

#listing-form{
  display: flex;
  margin: auto;
  flex-direction: row;
  justify-content: space-between;
  background: #e7e7e7;
  padding: 13px;
  border-radius: 5px;
}

.input-box{
  display: flex;
  flex-direction: column;
}

.input-box select{
  padding: 10px;
  border-radius: 5px;
}

@media screen and (max-width: 875px) {
#listing-form{
  flex-direction: column;
}
}