#single-page{
  width: 60%;
  margin: auto;
}

#single-page #posting{
  background: #cde0f1;

}
#single-page #posted{
  background: #a9f588;
}

#single-page #error{
  background: #f58888;
}

#single-review{
  width: 60%;
  margin: auto;
}

#single-page button {
  cursor: pointer;
  font-weight: 700;
  padding: 5px 25px;
  border-radius: 5px;
  border: 1px solid #ebebeb;
  background: aliceblue;
  font-size: 12px;
}

#single-page .pressed{
  background:#0d6efd;
  color:white;
}


#single-page form{
  align-items: flex-end;
  display: flex;
  flex-direction: column;
}

#single-page form > * {
  margin: 2px 0px;
}

#single-review button:hover{
  background: rgb(247, 250, 252);
  color:#545454;
}

#single-page .pressed:hover{
  background:#5397fd;
  color:white;
}

.review-card-header{
  padding: 10px;
  margin: 10px;
  border: 1px solid gainsboro;
  border-radius: 5px;
}

.review-card-header p{
  margin: 0px;
  text-align: left;
}

.review-card-body{
  border: 1px solid gainsboro;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
}

.review-card-body > p {
  font-size: 17px;
  text-align: left;
  line-height: 2;
  padding: 10px;
}

.review-card-body img{
  width: 100%;
}

.review-card-footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
  background: #fff;
  padding: 10px;
  border-top: 1px solid gainsboro;
  border-bottom: 1px solid gainsboro;
}

.review-card-tags{
  display: flex;
  justify-content: space-around;
  font-size: 20px;
  margin: 10px;
  padding: 10px;
  flex: 1;
}

.review-card-tags > span, .review-card-tags > a {
  cursor: pointer;
  padding: 0px 27px;
  background: #afbbdb;
  margin: 0px 20px;
  align-items: center;
  color: #fff;
  text-align: center;
  display: flex;
  border-radius: 8px;
  text-decoration: none;
}


.review-card-tags > span:hover, .review-card-tags > a:hover {
  background: #c2cff3;
  color: #fff;
}

.review-card-tags > h2{
  font-weight: 300;
}

.review-card-tags > span > p, .review-card-tags > a > p, .review-card-tags > h2 {
  margin: 0px;
  font-size: 14px;
  padding: 0px 10px;
}

@media screen and (max-width: 1440px) {
  #single-page{
    width: 90%;
  }
}

@media screen and (max-width: 1000px) {
  #single-page{
    width: 100%;
  }
  #single-review{
    width: 70%;
  }
}

@media screen and (max-width: 650px) {
  #single-review{
    width: 95%;
  }
}