.App {
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#comments{
  width: 70%;
  margin: auto;
}

.comment-card{
  border-radius: 5px;
  background: #ffffff;
  border: 1px solid gainsboro;
  border-radius: 10px 10px 0px 0px;
  margin: 10px;
}

body{
  background:#f8f8f8;
}

.comment-header{
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid gainsboro;
  background: #f0f0f0;
  border-radius: 10px 10px 0px 0px;

}

.comment-header > *{
  margin: 5px 0px;
  text-align: left;
  padding: 0px 14px;
  text-align: left;
  padding: 10px;
}

.comment-body{
  font-size: 20px;
  text-align: left;
  padding: 0px 10px;
}

.comment-footer{
  display: flex;
  justify-content: space-around;
  justify-content: flex-end;
  border-top: 1px solid #d7d5d5;
}

.comment-footer span{
  background: #e3e6e8;
  padding: 6px 18px;
  margin: 7px;
  border-radius: 2px;
}

.comment-footer p{
  margin: 0px;
  font-size: 17px;
}




#reviews-container{
  width: 50%;
  margin: auto;
}

.review-card{
  display: flex;
  flex-direction: column;
  margin: 10px 0px;
  background: rgb(255, 255, 255);
  border-radius: 10px 10px 0px 0px;
}

.review-header{
  display: flex;
  justify-content: space-around;
  background: #eeeeee;
  border-radius: 10px 10px 0px 0px;
  border-bottom: 2px solid gray;
  text-align: center;
  align-items: center;
}

.review-body img{
  max-width: 100%;
  max-height: 250px;
}

.review-body a{
  text-decoration: none;
}


.review-footer{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 10px 0px;
}
.review-footer >* {
  cursor: pointer;
  border: 2px solid #e9e9e9;
  padding: 10px 20px;
  border-radius: 10px;
  margin: 4px 20px;
}

.review-footer > button{
  font-size: 17px;
}

.default-voted{
  background-color: white;
}

.voted{
  background-color: #c7c7c7;
}

#single-review{
  width: 70%;
  margin: auto;
}

.review-card-header{
  padding: 10px;
  background: #e7e7e7;
  margin: 10px;
  border: 1px solid gainsboro;
  border-radius: 5px;
}

.review-card-body{
  border: 1px solid gainsboro;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
}

.review-card-body > p {
  font-size: 17px;
  text-align: left;
  line-height: 2;
  padding: 10px;

}

.review-card-footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid gainsboro;
  padding: 0px 10px;
  border-radius: 5px;
  margin: 10px;
  background: #fff;
}

.review-card-tags{
  display: flex;
  justify-content: space-around;
  font-size: 20px;
  margin: 10px;
  padding: 10px;
}

.review-card-tags > span {
  padding: 0px 27px;
  background: #afbbdb;
  margin: 4px;
  align-items: center;
  color: white;
  text-align: center;
  display: flex;
  border-radius: 8px;
}

.review-card-tags > h2{
  font-weight: 300;
}

.review-card-tags > span > p, .review-card-tags > h2 {
  margin: 0px;
}

#no-comments{
  font-size: 50px;
}

#post-comment{
  width: 70%;
  margin: auto;
}

#post-comment input{
  padding: 5px;
  width: 100%;
  font-size: 36px;
  border: 1px solid #bfbfbf;
  border-radius: 5px;
}

#post-comment button, #single-review button {
  padding: 10px 25px;
  font-size: 18px;
  border-radius: 5px;
  border: 1px solid #bfbfbf;
  background: aliceblue;
}

form{
  display: flex;
  margin: 10px;
}