.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

body{
  background: #d7d9de;
}

#single-review{
  width: 60%;
  margin: auto;
}

.single-review-card{
  margin: 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}
.review-card-header{
  display: flex;
  justify-content: left;
  margin-bottom: 10px;
  padding: 0px;
  border-radius: 5px;
  border: 2px solid #d7d9de;
  background:#fff ;
}

.review-card-header p {
  margin: 0px 10px;
  padding: 20px;
}

.review-card-body{
  margin: 0px;
  border: 2px solid #d7d9de;
  border-radius: 5px;
  background: #fff;
}

.review-card-body p{
  padding: 30px;
  line-height: 2.5;
  font-size: 16px;
  text-align: left;
  border-top: 2px solid #d7d9de;
}

.review-card-body > img {
  max-width: 100%;
  padding-bottom:30px;
}

.review-card-tags{
  display: flex;
  background: white;
  flex: 1;
}

.review-card-tags span > p{
  padding: 10px 20px;
  border-radius: 30px;
}

.review-card-tags > span {
  margin: 0px 20px;
}

.single-category {
  background: red;
}

.single-designer {
  background: #89d6c2;
}

.review-card-footer{   
  display: flex;
  color: #fff;
  background: white;
  border: 2px solid #d7d9de;
  border-radius: 5px;
}
.review-card-stats{
  display: flex;
  margin: 0px 10px;
}

.review-card-stats > span {
  margin:0px 10px ;
}

.review-card-stats > span > p{
  border-radius: 7px;
  background: #364c55;
  padding: 10px 22px;
}

@media screen and (max-width: 1223px) {
  #single-review {
    width: 80%;
}
}

@media screen and (max-width: 921px) {
  #single-review {
    width: 100%;
}
}